@model RecommendationBook
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminP/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .div {
        width: 500px;
        margin-top: 15px;
    }
    img{
        width:200px;
        height:250px;
    }
</style>

<a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Update</a>

<div class="div">
    <img src="~/img/@Model.Image" />
</div>

<div class="div">
    <h2>
        @Model.Name
    </h2>
</div>


<div class="div">
    <h3>
        @Model.Author
    </h3>
</div>


<div class="div">
    <h2>
        @Model.Price
    </h2>
</div>
