
@model Commet

@{
    Layout = null;
}


    <div class="commet-body">
        <div class="commet-user-info">
            <div class="commet-user-image">
                <img src="~/img/user-image.png" />
            </div>
            <div class="commet-user-name">
                <h5>@Model.UserName</h5>
            </div>
        </div>

        <div class="commet-user-text">
            <p>
                @Model.Text
            </p>

            @if (User.Identity.Name == Model.UserName)
            {
                <a asp-action="DeleteCommet" asp-route-id="@Model.Id">Delete</a>

            }

            <span>
                @Model.Date.ToString("dd/MM/yyyy")
            </span>
        </div>
    </div>
