
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pandora</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/userinfo.css">
    <link rel="stylesheet" href="~/css/bookDetail.css">
</head>

<body>
    <!-- Header Start -->
    @await Component.InvokeAsync("Header")
    <!-- Header end -->
    @RenderBody()

    <!-- Footer Start -->
    @await Component.InvokeAsync("Footer")
    <!-- Footer End -->

    <div id="btnScrolltoTop">
        <i class="fas fa-arrow-up"></i>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/bookDetail.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/subscribe-mail.js"></script>
    <script>

        AOS.init();

    //remove product from basket ajax start
    let allRemove = document.querySelectorAll(".allRemovefromBasket")
    allRemove.forEach(item => {
        item.addEventListener("click", function () {
            event.preventDefault();
            let id = $(this).attr("data-id");
          
            $.ajax({
                url: "/Home/DeleteBasket?Id=" + id,
                type: "Get",
                success: function (res) {

                    
                    let basketTotalPrice = document.getElementById('totalPrice');
                    let shoppingInfoToAdmin = document.getElementById('shoppingInfoToAdmin');
                    let basketProductContainer = document.getElementById('basketProductContainer');

                    let = basketCount = document.querySelector(".basket-booksCountt")
                    basketCount.innerHTML = res.basketCount;

                    basketTotalPrice.innerHTML = "$ " + res.total 
                    if (res.total<=0) {

                        basketProductContainer.innerHTML = `

                        <div style="margin-left:42%;">
                           <h4 class="text-danger">Sebet Boshdur</h4>
                       </div>
                                                          `
                        shoppingInfoToAdmin.remove()
                    }
                    
                }
            })

             $(this).closest(".basket-product-row").remove();
        })
    })

         //remove product from basket ajax end


    </script>

</body>

</html>
