<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">

    <link rel="stylesheet" href="~/css/message.css">
</head>
<body>



    <div>

    </div>
    @RenderBody()




    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/js/vendor/jquery.timeago.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/lib/@@microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/siqnalrchat.js"></script>

</body>
</html>