@model LoginVM

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/registerLogin.css">
</head>
<body>
    <div id="LoginForm" class="register-form-container">
        <div id="loginFormBody" class="form-input-body">

            <div asp-validation-summary="ModelOnly" style="color:white;"></div>

            <form class="pt-3" method="post">

                <div class="form-input-row">
                    <input asp-for="Email" class="form-control form-control-lg" placeholder="Email">
                </div>
                <span style="color:white;" asp-validation-for="Email"></span>

                <div class="form-input-row">
                    <input asp-for="Password" class="form-control form-control-lg" placeholder="Password">
                </div>
                <span style="color:white;" class="text-danger" asp-validation-for="Password"></span>

                <button type="submit">Login</button>

                <div class="alerdy-account">
                    Don't have an account? <a asp-controller="Account" asp-action="Register" class="text-primary">Register</a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
