@model RegisterVM

@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/registerLogin.css">
</head>
<body>
    <div class="register-form-container">
        <div class="form-input-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <form class="pt-3" method="post">

                <div class="form-input-row">
                    <input asp-for="FullName" class="form-control form-control-lg" placeholder="FullName">
                </div>
                <span class="text-danger" asp-validation-for="FullName"></span>

                <div class="form-input-row">
                    <input asp-for="UserName" class="form-control form-control-lg" placeholder="UserName">
                </div>
                <span class="text-danger" asp-validation-for="FullName"></span>

                <div class="form-input-row">
                    <input asp-for="Email" class="form-control form-control-lg" placeholder="Email">
                </div>
                <span class="text-danger" asp-validation-for="Email"></span>

                <div class="form-input-row">
                    <input asp-for="Password" class="form-control form-control-lg" placeholder="Password">
                </div>
                <span class="text-danger" asp-validation-for="Password"></span>

                <div class="form-input-row">
                    <input asp-for="CheckPassword" class="form-control form-control-lg" placeholder="Repeat Password">
                </div>
                <span class="text-danger" asp-validation-for="CheckPassword"></span>

                <button type="submit" class="btn btn-success m-2 btn-block">Register</button>

                <div class="alerdy-account">
                    Already have an account? <a asp-controller="Account" asp-action="Login" class="text-primary">Login</a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>