@model AppUser
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/AdminP/Views/Shared/_AdminLayout.cshtml";
}

<h2>Change Password</h2>

<div class="row">

    <h4>@Model.FullName</h4>
</div>

<div class="row">
    <h4>@Model.Email</h4>
</div>

<div class="row">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form method="post">
        <input type="password" name="NewPassword" placeholder="new password" />
        <button type="submit" class="btn btn-success">Save Password</button>
    </form>

</div>