@model BookSlider

    <div class="container">
        <h4>Slider Image</h4>
        <div class="row">
            <img src="~/img/@Model.Image" style="width:600px; height:300px; border-radius:0px; object-fit:cover" />
        </div>

        <div class="row">
           <a class="btn btn-outline-github mt-2" asp-action="Index">Back</a>
        </div>
    </div>