
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.last-author-container{
    width: 1300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    background: rgb(238, 235, 235);
    position: relative;
}

.last-author-container .grey-side-header{
    position: absolute;
    width: 1070px;
    height: 100px;
    background: rgb(167, 165, 165);
    top: 0;
    right: 0;
}

.last-author-container .last-author-image-row{
position: absolute;
width: 260px;
height: 360px;
top: 50px;
left: 29%;
}


.last-author-container .last-author-image-row img{
  width: 100%;
  height: 100%;
  object-fit:cover;
    }

.last-author-container .last-author-bio-row{
    width: 620px;
    height: 320px;
    position: absolute;
    right: 40px;
    top: 20%;
}

#new{
    font-family: goddes;
    font-size: 40px;
    color: rgb(255, 94, 0);
    position: absolute;
    top: -18%;
    transform: rotate(20deg);
    margin-left:15px;
}

#newAuthorBio {
    width: 620px;
    height: 240px;
    overflow: hidden;
}



.last-author-container .last-author-bio-row p{
    font-size: 19px;
    padding-top: 28px;
    text-align: unset;
    margin-left:15px;
}

.last-author-container .last-author-bio-row a{
    text-decoration: none;
    position:absolute;
    color: black;
    border: 1px black solid;
    padding: 5px 15px;
    left: 40%;
    bottom: 15px;
}

.last-author-container .last-author-bio-row a:hover{
    color: rgb(255, 255, 255);
    border: 1px rgb(255, 255, 255) solid;
    background: #000;
}

.last-author-container .author-name-row{
width: 190px;
height: 140px;
position: absolute;
left: 1%;
top: 23%;
}

@font-face{
    font-family: zebra;
    src: url(../fonts/Monoton-Regular.ttf);
}

@font-face{
    font-family: goddes;
    src: url(../fonts/Pacifico-Regular.ttf);
}

.last-author-container .author-name-row h1{
    font-family: zebra;
    font-size: 31px;
    }

.name-under-black-line{
    width: 234px;
    height: 5px;
    background: #000;
    position:absolute;
    left: 11%;
    top: 53%;
}

.last-author-container .last-author-books-row{
width: 190px;
height: 180px;
position: absolute;
left: 11%;
top: 58%;
}

.author-searchbox-container{
    width: 100%;
    height: 60px;
    background: #000;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.author-searchbox-container input{
    width:280px;
    height: 40px;
    outline: none;
    border: none;
}

.author-searchbox-container button{
    width:80px;
    height: 40px;
    outline: none;
    border: none;
    color: black;
    font-weight: 600;
}

/* author search container Start */

.author-search-container-search {
    width: 700px;
    min-height: 60px;
    background: rgb(255, 255, 255);
    z-index: 30;
    position: absolute;
    top: 150%;
    -webkit-box-shadow: 3px 2px 50px 50px rgba(0, 0, 0, 0.829);
    box-shadow: 3px 2px 50px 50px rgba(0, 0, 0, 0.822);
    display: flex;
    flex-wrap: wrap;
    display: none;
}

.specialClass {
    width: 1300px;
    min-height: 600px;
    background: rgb(255, 255, 255);
    z-index: 200;
    position: absolute;
    top: -260%;
    -webkit-box-shadow: 3px 2px 50px 50px rgba(0, 0, 0, 0.829);
    box-shadow: 3px 2px 50px 50px rgba(0, 0, 0, 0.822);
    display: flex;
    flex-wrap: wrap;
}


    .author-search-container-search i {
        font-size: 20px;
        position: absolute;
        top: 5px;
        right: 15px;
        cursor:pointer;
    }

    .author-search-container-search i:nth-child(1) {
            margin-right: 25px;
    }

.author-search-info-row {
    width: 317px;
    height: 160px;
    margin-top: 45px;
    margin-bottom: 10px;
    margin-left: 15px;
    display: inline-flex;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 1px 19px 4px #000000;
    box-shadow: 0px 1px 19px 4px #000000;
}

    .author-search-info-row .author-search-image-row {
        width: 115px;
        height: 160px;
    }

        .author-search-info-row .author-search-image-row img {
            width: 100%;
            height: 100%;
        }

    .author-search-info-row .author-search-text-row {
        width: 185px;
        height: 160px;
    }

        .author-search-info-row .author-search-text-row p {
            text-align: center;
        }

        .author-search-info-row .author-search-text-row a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }

.author-search-text-row .author-text-row-texts {
    width: 185px;
    height: 80px;
    overflow: hidden;
}

    .author-search-text-row .author-text-row-texts p {
        text-align: center;
        font-size: 13px;
    }

/* author search container End */

.all-authors-container{
    width: 100%;
    background: rgb(214, 211, 211);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}

.author-body-row{
width: 320px;
height: 420px;
background: rgb(255, 255, 255);
margin-top: 15px;
margin-left: 20px;
margin-bottom:25px;

}

.author-body-row .author-body-image{
width: 100%;
height: 220px;
}

.author-body-row .author-body-image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.author-body-row .author-body-info{
width: 100%;
height: 150px;
margin-bottom: 9px;
}

.author-body-row .author-body-info h5{
text-align: center;
padding-top: 6px;
}

#allAuthorFrontText{
    width:90%;
    height:100px;
    margin:0 auto;
    overflow:hidden;
}

.author-body-row .author-body-info p {
    text-align: center;
}

.author-body-row a{
text-decoration: none;
color: black;
font-size: 19px;
border: 1px black solid;
padding: 5px 15px;
margin-left: 93px;
}

.author-body-row a:hover {
  background:black;
  color:white;
}

.authors-load-more-button{
    width: 160px;
    height: 50px;
    background: #000;
    position: relative;
    left: 45%;
    top: 20px;
}

.authors-load-more-button button{
    width: 160px;
    height: 50px;
    background: #000;
    color: white;
    font-weight: 600;
    outline: none;
    border:2px solid  rgb(255, 82, 13);
}


/*Author Detail Start */

.author-detail-page {
    width: 80%;
    height: 1100px;
    margin: 0 auto;
    background: rgb(126, 126, 126);
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

    .author-detail-page .detail-header {
        width: 100%;
        height: 300px;
        background: linear-gradient(45deg,rgb(66, 66, 66),rgb(29, 29, 29),rgb(0, 0, 0));
    }

.detail-header h1 {
    color: white;
    position: absolute;
    top: 11%;
    left: 5%;
}

.author-detail-page .author-detail-image {
    position: absolute;
    width: 280px;
    height: 310px;
    top: 7%;
    left: 55%;
}

    .author-detail-page .author-detail-image img {
        width: 100%;
        height: 100%;
    }

.author-detail-bio {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    background: rgb(151, 240, 170);
    margin-top: 150px;
}

.author-books-bios-button {
    width: 100%;
    height: 80px;
    background: #000;
}

    .author-books-bios-button button {
        border: none;
        outline: none;
        width: 110px;
        height: 35px;
        margin-top: 18px;
        margin-left: 10px;
        font-size: 20px;
        background-color: white;
    }

.author-bios-text-areaRow {
    width: 900px;
    height: 530px;
    background: rgb(255, 255, 255);
    position: absolute;
    overflow-y: scroll;
}

    .author-bios-text-areaRow p {
        font-family: serif;
        font-size: 21px;
        padding-left: 17px;
        padding-top: 20px;
    }


.author-books-text-areaRow {
    width: 900px;
    height: 530px;
    background: rgb(255, 255, 255);
    position: absolute;
    overflow-y: scroll;
}

    .author-books-text-areaRow li {
        font-size: 22px;
        padding-top: 10px;
        padding-left: 20px;
    }

    .author-books-text-areaRow p {
        padding-top: 20px;
        font-size: 20px;
        padding-left: 35px;
    }

.d-none {
    display: none;
}

/* Scroll Css Start*/
.gigidi::-webkit-scrollbar {
    width: 15px;
    background: linear-gradient(to bottom,rgb(160, 158, 158),rgb(70, 69, 69),rgb(0, 0, 0));
    cursor: pointer;
    border-radius: 10px;
}

.gigidi::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,rgb(255, 175, 25),rgb(255, 94, 0),red);
    height: 20px !important;
    border-radius: 10px;
}

.gigidi ::-webkit-scrollbar:horizontal {
    display: none;
}

/*Scroll Css End */

/*Author Detail End */