*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Top New Blogs Swipper Start */
.new-blogs-header-title{
    width: 100%;
    height: 70px;
    background: #000;
    margin: 0 auto;
    margin: 30px 0px;
    position: relative;
}

.selectCategory select{
    border: none;
    outline: none;
    width: 180px;
    height: 40px;
    position: absolute;
    left: 10%;
    top: 15px;
}

.selectCategory #categoryButton{
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    position: absolute;
    left: 24.6%;
    top: 15px;
    background: rgb(255, 253, 253);
    color: black;
    font-weight: 600;
}

.selectCategory input{
    border: none;
    outline: none;
    width: 240px;
    height: 40px;
    position: absolute;
    left: 61%;
    top: 15px;
    background: rgb(255, 253, 253);
    color: black;
    font-weight: 600;
    padding-left: 5px;
}

#blog-search-btn{
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    position: absolute;
    left: 80%;
    top: 15px;
    background: rgb(255, 253, 253);
    color: black;
    font-weight: 600;  
}

/* blog search container Start */

.blog-search-container-search {
    width: 760px;
    min-height: 60px;
    background:white;
    z-index: 200;
    position: absolute;
    top: 150%;
    left: 25%;
    -webkit-box-shadow: 3px 2px 50px 50px rgba(0, 0, 0, 0.829);
    box-shadow: 3px 2px 50px 50px rgba(0, 0, 0, 0.822);
    display: inline-flex;
    flex-wrap: wrap;
    display:none;
}


.specialBlgClass {
    width: 1300px;
    height: 600px;
    background: white;
    z-index: 200;
    position: fixed;
    top: 3%;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-bottom:2px black solid;
}


.blog-search-container-search i {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 5px;
    cursor:pointer;
}

    .blog-search-container-search i:nth-child(1) {
        margin-right: 25px;
    }

.blog-search-info-row {
    width: 367px;
    height: 160px;
    background: rgb(201, 200, 200);
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom:7px;
    display: inline-flex;
    justify-content: space-evenly;
    overflow: hidden;
}

    .blog-search-info-row .blog-search-image-row {
        width: 115px;
        height: 160px;
    }

        .blog-search-info-row .blog-search-image-row img {
            width: 100%;
            height: 100%;
        }

    .blog-search-info-row .blog-search-text-row {
        width: 185px;
        height: 160px;
    }

        .blog-search-info-row .blog-search-text-row p {
            text-align: center;
        }

        .blog-search-info-row .blog-search-text-row a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }

.blog-search-text-row .blog-text-row-texts {
    width: 185px;
    height: 80px;
    overflow: hidden;
}

    .blog-search-text-row .blog-text-row-texts p {
        text-align: center;
        font-size: 13px;
    }

/* Scroll Css Start*/
.specialBlgClass::-webkit-scrollbar {
    width: 15px;
    background: linear-gradient(to bottom,rgb(160, 158, 158),rgb(70, 69, 69),rgb(0, 0, 0));
    cursor: pointer;
    border-radius: 10px;
}

.specialBlgClass::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,rgb(255, 175, 25),rgb(255, 94, 0),red);
    height: 20px !important;
    border-radius: 10px;
}

.specialBlgClass ::-webkit-scrollbar:horizontal {
    display: none;
}

/*Scroll Css End */


/* blog search container End */



.new-blogs-header-title h1{
  font-family: serif;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.top-new-blog-card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: white;
}

.top-new-blog-card .new-blog-content{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.new-blog-content p{
  text-align: center;
   color: black;
   margin-top: 5px;
}

.new-blog-content h5{
    text-align: center;
     padding-top: 19px;
     font-size: 18px;
  }

  .new-blog-content a:hover{
     color: white;
     background: #000;
  }

.new-blog-content a{
    text-decoration: none;
    font-weight: 500;
   padding: 7px 20px;
   border: 1px black solid;
   color: #000;
  }

.top-new-blog-card .new-blog-card-img{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-new-blog-card .new-blog-card-img img{
width: 80%;
height: 80%;
}


.swiper-slide{
    width: 360px;
    margin-left: 45px;
    background: rgb(255, 255, 255);
}

.swiper-container{
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content:center !important;
    background: rgb(223, 222, 222);
    border-bottom: 1px rgb(133, 131, 131) solid;
}

/* Top New Blogs Swipper End */

/* All blogs Start */

.all-blogs-content-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.all-blogs-content-container .all-blog-row{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
width: 1000px;
height: 890px;
}



.blog-box{
    position: relative;
    width: 460px;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
}

.blog-box .blog-box-image{
width: 190px;
height: 180px;

}

.blog-box .blog-box-image figure img{
    width:100%;
    height: 100%;
    }

.blog-box .blog-box-text{
    width: 220px;
    height: 250px;
}

.blog-box-text h1{
    font-family: serif;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
}

.blog-box-text p{
    font-family: serif;
    font-size: 17px;
    text-align: center;
}

.blog-box-text h5{
    font-family: serif;
    font-size: 20px;
    padding-top: 5px;
    text-align: center;
    font-weight: 600;
}

.blog-box-text h5 a{
    text-decoration: none;
    color: black;
    border: 1px black solid;
    padding: 6px 24px;
}

    .blog-box-text h5 a:hover {
        color: white;
        background:black;
    }

/* image zoom hover start */

figure{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.blog-box .blog-box-image img{
    display: block;
    transform: scale(1);
    transition: .5s;
}


.blog-box .blog-box-image:hover img{
    transform: scale(1.2);
    transition: .3s;
}

/* image zoom hover end */

.blog-box:before{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: rgb(255, 254, 254);
    z-index: -1;
}

.blog-box:after{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: rgb(255, 254, 254);
    z-index: -2;
}

.blog-box:before,.blog-box:after{
    background: linear-gradient(235deg,rgb(0, 0, 0),rgb(173, 171, 171),rgb(255, 255, 255),rgb(173, 171, 171),rgb(0, 0, 0));
}

.blog-pagination-container{
    width: 100%;
    height: 70px;
    background: #000;
    margin-top: 10px;
    text-align: center;
}

/* All blogs End */

/* Animated Suubscrie Start */

.animated-Subscribe-row{
    width:100%;
    height: 120px;
    background: #000;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}


.animated-Subscribe{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 80px;
    transform: translate(-50%,-50%);
    overflow: hidden;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.animated-Subscribe input{
    width: 230px;
    height: 40px;
    border: none;
    outline: none;
}

.animated-Subscribe button{
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    background: rgb(255, 255, 255);
    font-weight: 600;
}

.animated-Subscribe span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, rgb(0, 0, 0),rgb(255, 255, 255));
    animation: animate1 2.5s linear infinite;
}

@keyframes animate1{
0%{
    transform: translateX(-100%);
}
100%{
    transform: translateX(100%);
}
}



@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
    }

.animated-Subscribe span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, rgb(255, 255, 255),rgb(0, 0, 0));
    animation: animate3 2.5s linear infinite;
}
@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
    }

    .animated-Subscribe span:nth-child(2){
        position: absolute;
        top: 0;
        right: 0;
        width:3px;
        height:100%;
        background:linear-gradient(to right, rgb(0, 0, 0),rgb(255, 255, 255));
        animation: animate2 2.5s linear infinite;
        animation-delay: 1.2s;
    }

.animated-Subscribe span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width:3px;
    height:100%;
    background:linear-gradient(to right, rgb(255, 255, 255),rgb(0, 0, 0));
    animation: animate4 2.5s linear infinite;
    animation-delay: 1.2s;
}

@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
    }

/* Animated Subscribe End */

.also-like-this h1{
    text-align: center;
    margin-top: 30px;
}

.also-like-beer-effect-container{
    position: relative;
}

.also-like-this-container-first{
width: 76%;
height: 250px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
margin-top: 30px;
}
.also-like-this-container-second{
    width: 58%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 21.3%;
    top: 84%;
    }

.like-this-row{
    width: 250px;
    height: 250px;
    background: rgb(0, 0, 0);
    clip-path: polygon(50% 0%, 90% 23%, 90% 69%, 51% 91%, 11.1% 69%, 11% 23%);
    position: relative;
}

.like-this-row .like-row-face{
    width: 250px;
    height: 250px;
    background: rgba(0, 0, 0, 0.705);
    position: absolute;
    display: none;
}

.like-this-row .like-row-face p{
    text-decoration: none;
    font-size: 22px;
    padding-top: 90px;
    text-align: center;
 }

.like-this-row .like-row-face a{
   text-decoration: none;
   color: rgb(247, 247, 247);
   border: 1px white solid;
   padding: 4px 16px;
}

.like-this-row img{
   width: 100%;
   height: 100%;
   position: absolute;
}

.like-this-row:hover .like-row-face{
    display: block;
    transition: 1s;
 }

 .cash-blog-div{
     width: 100%;
     height: 100px;
     margin-top: 14%;
 }


/* Blog detail start */
.blog-detail-container {
    width: 100%;
    height: 1000px;
    background: rgb(66, 82, 70);
}

.blogD-header {
    width: 100%;
    height: 250px;
    background: rgb(0, 0, 0);
    margin-top: 30px;
}

    .blogD-header h1 {
        text-align: center;
        padding-top: 100px;
        padding-left: 20%;
        color: white;
    }

.blogD-about-blogAuthor {
    width: 270px;
    height: 868px;
    background: rgb(111, 122, 109);
    position: absolute;
    top: 45.5%;
    left: 30px;
}

.blogAuthor-image {
    width: 220px;
    height: 220px;
    background: #000;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 50%;
}

    .blogAuthor-image img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

.blogD-about-blogAuthor h1 {
    text-align: center;
    font-size: 29px;
    padding-top: 20px;
    cursor: pointer;
}

.blogD-about-blogAuthor h3 {
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    cursor: pointer;
}

.blogD-about-blogAuthor p {
    text-align: left;
    padding-left: 5px;
    padding-top: 8px;
    text-align: center;
}

    .blogD-about-blogAuthor p a {
        text-decoration: none;
        color: black;
    }

        .blogD-about-blogAuthor p a i {
            font-size: 25px;
        }



.blog-detail-text-page {
    width: 1000px;
    height: 700px;
    background: rgb(255, 255, 255);
    position: relative;
    left: 23%;
    overflow-y: scroll;
}

.blog-detail-text-page {
    padding-top: 40px;
    padding-left: 29px;
    font-size: 21px;
}

/* Blog detail end */

/* Blog commet start */
.commet-box-container {
    width: 1100px;
    margin: 0 auto;
    margin-top: 40px;
    border: 0.1px rgb(119, 116, 116) solid;
}


    .commet-box-container .commet-text-body-row {
        width: 100%;
        margin: 0 auto;
    }

.commet-text-body-row .commet-body {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px rgb(110, 109, 109) solid;
}

.commet-body .commet-user-info {
    width: 26%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.commet-user-info .commet-user-image {
    width: 60px;
    height: 60px;
    background: #000;
    border-radius: 50%;
}

    .commet-user-info .commet-user-image img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

.commet-user-info .commet-user-name {
    width: 140px;
    height: 60px;
}

.commet-user-info .commet-user-name h3{
   font-size:21px;
   padding-top:15px;
}



.commet-body .commet-user-text {
    width: 68%;
}

    .commet-body .commet-user-text span {
        padding-left: 80%;
        color: rgb(255, 64, 16);
        font-weight: 600;
    }

.commet-body .commet-user-text a:nth-child(2){
    color:red;
    text-decoration:none;
}

    .commet-body .commet-user-text a:nth-child(3) {
        color: green;
        text-decoration: none;
        margin-left:8px;
    }


.commet-box-container .commet-submit-create-row {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(224, 223, 223);
}

    .commet-box-container .commet-submit-create-row form textarea {
        width: 960px;
        height: 100px;
        margin-left: 71px;
        margin-top: 10px;
    }

    .commet-box-container .commet-submit-create-row button {
        width: 130px;
        height: 40px;
        outline: none;
        border: none;
        margin-left: 43%;
        margin-top: 15px;
        font-size: 15px;
        color: white;
        background: #000;
    }
/* Blog commet end */

/*blog pagination css start*/

.blogForPagination{
    width:100%;
    height:80px;
    background-color:black;
    margin-top: 15px;
}





