
.user-personal-page-container{
    width: 100%;
    height: 600px;
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    background: black;
}

.user-personal-page-container .user-personalinfo-row{
width: 900px;
height: 100%;
display: flex;
flex-wrap: wrap;
background: white;
}

.user-personalinfo-row .user-image-row{
width: 100%;
height: 180px;
display: flex;
flex-wrap: wrap;
align-items: center;
background: rgb(235, 233, 233);
}

.user-personalinfo-row .user-image-row .user-image-image{
width: 150px;
height: 100%;
}

.user-personalinfo-row .user-image-row .user-image-image img{
   width: 100%;
   height: 100%;
   object-fit:cover;
    }

    .user-image-row .user-image-update{
      width: 190px;
      height: 120px;
      margin-left: 30px;
    }

    .user-image-row .user-image-update button{
        width: 90px;
        height: 30px;
        border: none;
        outline: none;
        margin-top: 11px;
        color: white;
        background: #000;
        border-radius: 5px;
      }
    
      .user-personalinfo-row .user-name-email{
       width: 100%;
       height: 80px;
       margin-top: 20px;
       background: rgb(226, 226, 226);
      }

      .user-personalinfo-row .user-name-email h1,h3{
         display: inline-block;
         margin-left: 20px;
         margin-right: 30px;
       }
       .user-personalinfo-row .user-name-email span{
        display: inline-block;
      }

    .user-personalinfo-row  .userall-row{
          width: 100%;
          height: 50px;
          margin-top: 10px;
          display: flex;
          background: rgb(230, 230, 230);
      }

    .user-personalinfo-row  .userall-row a{
       text-decoration: none;
       padding-left: 17px;
       color: rgb(241, 91, 21);
       font-size: 18px;
    }

    .user-personalinfo-row  .userall-row span{
        padding-left: 27px;
        font-size: 18px;
     }



#birthdayForm {
    display: none;
    margin-left: 30%;
}


#userGenderForm{
    display:none;
    margin-left:50%;
}

#userReligiousForm {
    display: none;
    margin-left: 48%;
}