@model Author
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminP/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <h3>@Model.AuthorName</h3>
        <p>@Html.Raw(Model.Description)</p>
    </div>
    <div class="row">
        <a class="btn btn-inverse-secondary" asp-action="Index">
            Go Back
        </a>
    </div>
</div>

